body {
  margin: 0;
}

.welcome {
  background: #232C33;
  color: #DADFF7;
  height: 100vh;
  text-align: center;
}
.welcome h1 {
  font-family: sans-serif;
  font-size: 10vh;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
